---
title: Thymol Configuration
description: Describes Thymol configuration
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../" %}
<body>
{% include common-section.html level="../" %}
  <div class="content">
    <h2>configuration</h2>
    <h3>setting up</h3>
    <p>Before using Thymol, you will need to configure the bootstrap loader file. You do this by setting values in the thymolConfiguration object in &quot;thymol.js&quot;:</p>
    <pre><code>        var thymolConfiguration = {
        // Please set the values of the following fields!
            thScriptName : "${thThymolSource}",
            thJQuerySource : "${thJQuerySource}",
        // These are defaults, change them if you wish..
            thDefaultPrefix : "th",
            thDefaultDataPrefix : "data",
            thDefaultPrecision : 10,
            thDefaultProtocol : "file:///",
            thDefaultLocale : "en",
            thDefaultPrecedence : 20000,
            thDefaultMessagePath : "",
            thDefaultMessagesBaseName : "Messages",
            thDefaultRelativeRootPath: "",
            thDefaultExtendedMapping: false,
            thDefaultLocalMessages: true
        };</code></pre><p>You must edit the value assigned to the &quot;thScriptName&quot; field and set it&#39;s value to the name of the Thymol library that you wish to use (&quot;thymol-full.js&quot; or &quot;thymol-lite.js&quot; or the minified version of either).</p>
    <p>The &quot;thJQuerySource&quot; field allows you to define the location of the jquery library you wish to use with Thymol. By default, the jquery library is assumed to be present in the same directory as your Thmyol library file (as specified by &quot;thScriptName&quot;), if this is the case, you only need to provide the jquery file name to get things working.</p>
    <p>If you remove the &quot;thJQuerySource&quot; field or set it&#39;s value to null or blank, then the bootstrap won&#39;t try to load jquery at all - use this option if your templates load jquery for themselves (via &quot;&lt;script&gt;&quot; tags or otherwise).</p>
    <p>To use a network available copy of jquery then set the value of &quot;thJQuerySource&quot; to an appropriate URI.</p>
    <h3>invocation</h3>
    <p>Having correctly configured &quot;thymol.js&quot; you may now use it in your templates like this:</p>
    <pre><code>       &lt;script type=&quot;text/javascript&quot; 
         src=&quot;&lt;path-to-installed-file&gt;/thymol.js&quot; 
         data-thymol-load=&quot;&lt;list-of-project-specific-files&gt;&quot; 
         data-thymol-parameters=&quot;&lt;parameter-string&gt;&quot;&gt;
       &lt;/script&gt;</code></pre><p>The &quot;thymol.js&quot; script may be used to load any number of additional script files specified by a comma separated list value for the &quot;data-thymol-load&quot; attribute. The path to each file in the list is assumed to be relative to the path given in the &quot;src&quot; attribute.</p>
    <p>You may also pass command-line parameters to Thymol by using the &quot;data-thymol-parameters&quot; attribute. This should be specified as a standard request parameter string (a name/value pair list starting with a &quot;?&quot; and separated by &quot;&amp;&quot;).</p>
    <p>If you wish to override the usual mechanism of locating jquery for a particular template you can do this by specifying the &quot;data-jquery-src&quot; attribute in the bootloader script tag.</p>
    <p>For example:</p>
    <pre><code>       &lt;script type=&quot;text/javascript&quot; 
         src=&quot;web/js/thymol.js&quot; 
         data-jquery-src=&quot;http://code.jquery.com/jquery-git2.min.js&quot;
         data-thymol-load=&quot;page-data.js&quot; 
         data-thymol-parameters=&quot;?thDebug=true&quot;&gt;
       &lt;/script&gt;</code></pre>
    <h3>default values</h3>
    <p>The configuration default values defined in thymol.js specify the reference value that will be used by Thymol for a particular operation should no overriding value be specified for a particular template.
    <p>For example, setting the value of "thDefaultPrefix" to "px", would cause Thymol to use the prefix "px" when parsing templates for Thymeleaf-processable attributes, unless this value was overridden by setting a value for thPrefix directly using an appropriate xmlns attribute in the template html element or by doing it in JavaScript or by an appropriate request parameter.</p>
        <h4>thDefaultPrefix</h4>
        <p>Sets the default value to be used as the prefix for Thymol processable attributes.</p>
        <h4>thDefaultDataPrefix</h4>
        <p>Sets the default value to be used as the prefix representing html5-style Thymol attributes.</p>   
        <h4>thDefaultProtocol</h4>
        <p>Sets the value to be used as the protocol part of generated URIs in the (unlikely) event that this cannot be derived from the DOM and hasn't been specified by thProtocol.</p>   
        <h4>thDefaultLocale</h4>
        <p>Sets the value to be used as the locale value if this has not been specified by setting thLocale and cannot be deduced from the browser's navigator object.</p>   
        <h4>thDefaultMessagePath</h4>
        <p>Sets the default value for the path to be used to locate message properties files.</p>   
        <h4>thDefaultMessagesBaseName</h4>
        <p>Sets the default value for the base file name to be used when searching for message properties files.</p>   
        <h4>thDefaultRelativeRootPath</h4>
        <p>Sets the default value for the thRelativeRootPath variable.</p>   
        <h4>thDefaultExtendedMapping</h4>
        <p>Sets the default value for the thExtendedMapping variable.</p>   
        <h4>thDefaultLocalMessages</h4>
        <p>Sets the default value for the thLocalMessages variable.</p>   
    <h3>default dynamic values</h3>
    	There are two more configuration values that need to be assigned default values, these are the numeric precision control parameter and the attribute processing precedence values.
    	They are included in this section because they <b>must</b> be given values and hence they are set in the "thymol.js" script.
        <h4>thDefaultPrecedence</h4>
        <p>Sets the default value to be used for processing precedence when defining custom attribute processors.</p>   
        <h4>thDefaultPrecision</h4>
        <p>Sets the default value for the number of significant decimal digits to be used in floating point calculations in Thymol.</p>   

  </div>
  <div th:replace="../fragments::footer"></div>
</body>
</html>