---
title: Thymol Control Parameters
description: Describes Thymol control parameters
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../" %}
<body>
{% include common-section.html level="../" %}
  <div class="content">
    <h2>control parameters</h2>
    <p>The are a number of pre-defined JavaScript variable names that define parameters that may be used to control the way that Thymol behaves when running, these parameters have names the beginning with the prefix &quot;th&quot;.</p>
    <h3>scalar valued parameters</h3>
    <ul>
      <li><a href="control/thRoot-and-thPath.html?docu&amp;para">thRoot & thPath</a></li>
      <li><a href="control/thRelativeRootPath.html?docu&amp;para">thRelativeRootPath</a></li>        
      <li><a href="control/thProtocol.html?docu&amp;para">thProtocol</a></li>
      <li><a href="control/thDebug.html?docu&amp;para">thDebug</a></li>
      <li><a href="control/thMessagePath.html?docu&amp;para">thMessagePath</a></li>
      <li><a href="control/thMessagesBaseName.html?docu&amp;para">thMessagesBaseName</a></li>
      <li><a href="control/thLocalMessages.html?docu&amp;para">thLocalMessages</a></li>
      <li><a href="control/thDisableMessages.html?docu&amp;para">thDisableMessages</a></li>
      <li><a href="control/thLocale.html?docu&amp;para">thLocale</a></li>
      <li><a href="control/thPrefix.html?docu&amp;para">thPrefix</a></li>
      <li><a href="control/thDataPrefix.html?docu&amp;para">thDataPrefix</a></li>
      <li><a href="control/thExtendedMapping.html?docu&amp;para">thExtendedMapping</a></li>
      <li><a href="control/thIndexFile.html?docu&amp;para">thIndexFile</a></li>
      <li><a href="control/thTemplateSuffix?docu&amp;para">thTemplateSuffix</a></li>
      <li><a href="control/thDefaultPrecedence.html?docu&amp;para">thDefaultPrecedence</a></li>
      <li><a href="control/thDefaultPrecision.html?docu&amp;para">thDefaultPrecision</a></li>      
      <li><a href="control/thAllowNullText.html?docu&amp;para">thAllowNullText</a></li>
      <li style="color: grey;">thShowNullOperands has been deprecated</li>
    </ul>
    <p>You may set any of the scalar valued parameters by one of the following mechanisms:</p>
    <ul>
      <li>Allow them to default (note that for some of these parameters, the default value may by reconfigured).</li>
      <li>Set them using a script tag in the template source file.</li>
      <li>Set them in a JavaScript source file imported into your template using a script tag.</li>
      <li>Set them as query parameters on the referring link to the template.</li>
      <li>Set them as parameters using the "data-thymol-parameters" attribute of the script tag that defines the Thymol import.</li>
    </ul>
    <p>e.g. The value of thProtocol may be set to &quot;http://&quot; for a particular template using:</p>
    <pre>
      <code>&lt;script type=&quot;text/javascript&quot; src=&quot;../../../js/thymol.js&quot; data-thymol-parameters=&quot;?thProtocol=http://&quot;&gt;&lt;/script&gt;
</code>
    </pre>
    <h3>structure valued parameters</h3>
    <ul>
      <li><a href="control/thVars.html?docu&amp;para">thVars</a></li>
      <li><a href="control/thMessages.html?docu&amp;para">thMessages</a></li>
      <li><a href="control/thMappings.html?docu&amp;para">thMappings</a></li>
      <li><a href="control/thDisable.html?docu&amp;para">thDisable</a></li>
    </ul>
    <p>A detailed description of the effects of each of these parameters is discussed in further sub-sections of this page. You can reach these using the sub-menu selections on the left.</p>
    <p>Setting the values of the structure valued parameters is best done in JavaScript.</p>
  </div>
  <div th:replace="../fragments::footer"></div>
</body>
</html>