---
title: Thymol Extensions
description: Describes Thymol extensions
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../" %}
<body>
{% include common-section.html level="../" %}
  <div class="content">
    <h2>thymol extensions</h2>
	<p>One of the most useful features of Thymol 2.0 is it's facility for defining custom extensions. You can use Thymol to prototype the custom dialects you may wish to add to Thymeleaf.</p>
	<p>Using the extensions API you can extend the standard (Thymeleaf) dialect, you can add custom elements and attributes or add custom expression utilities.</p>
  </div>
</body>
</html>