---
title: Thymol Files
description: Describes the file included in the Thymol distribution.
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../" %}
<body>
{% include common-section.html level="../" %}
  <div class="content">
    <h2>thymol files</h2>
    <p>The Thymol 2.0 distribution contains a bootstrap loader and configuration module in &quot;thymol.js&quot;.</p>
    <p>The Thymol loader will load one of 2 distinct variants of the Thymol library these are: &quot;thymol-full.js&quot; and &quot;thymol-lite.js&quot;.</p>
    <p>The first, &quot;thymol-full.js&quot; provides the full range of Thymol 2.0 functionality as described in the &quot;what&#39;s new in 2.0.0&quot; section of <a href="../features.html">features</a> page, as well as that of previous versions of Thymol.</p>
    <p>The other file &quot;thymol-lite.js&quot;, provides all Thymol 2.0 functionality apart from support for expression utility objects.</p>
    <p>The reduced functionality version has been included as a direct replacement for earlier (pre-2.0) versions of Thymol for users who don&#39;t need to use expression utility objects, and who may have concerns over javascript file load times.</p>
    <p>Along with these files, the distribution also contains &quot;minimised&quot; versions of each of the above: &quot;thymol.min.js&quot;, &quot;thymol-full.min.js&quot; and &quot;thymol-lite.min.js&quot;.</p>
  </div>
  <div th:replace="../fragments::footer"></div>
</body>
</html>