---
title: thymoljs.org documentation &#58; thymol API page
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../" %}
<body>
  <div th:replace="../fragments::frame(docs='true',apis='true',level='../')"></div>
  <div class="content">
    <h2>thymol API</h2>
<p>Using Thymol will almost inevitably require a developer to create some custom support javascript sooner or later. The Thymol API offers some help when it comes to interfacing with Thymol internals.</p>
<p>Structures in the Thymol API are accessed via a globally defined variable "thymol".</p>
  </div>
  <div th:replace="../fragments::footer"></div>
</body>
</html>