<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="../css/base.css">
<title>thymoljs.org documentation : thymol API page</title>
</head>
<script th:remove="all" type="text/javascript" src="../bower_components/thymol/dist/thymol.min.js" data-thymol-load="../js/clickthing.js"></script>
<body>
  <div th:replace="../fragments::frame(docs='true',apis='true',level='../')"></div>
  <div class="content">
    <h2>thymol API</h2>
<p>Using Thymol will almost inevitably require a developer to create some custom support javascript sooner or later. The Thymol API offers some help when it comes to interfacing with Thymol internals.</p>
<p>Structures in the Thymol API are accessed via a globally defined variable "thymol".</p>
  </div>
  <div th:replace="../fragments::footer"></div>
</body>
</html>