---
title: Thymol Documentation
description: Detailed descriptions of configuration and use of Thymol
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="" %}
<body>
{% include common-section.html %}
	<div class="content"> 		
	  <h2>documentation</h2>
	  <p>The documentation for Thymol 2.0 is very much a "work-in-progress".</p>
        <p>Please share your comments, corrections, suggestions for improvements and contributions by email to:</p>
<pre>       docs AT thymoljs.org</pre>          
	  <p>Please check again later for more content.</p>
	</div>
</body>
</html>