---
title: Thymol Download
description: Where to find Thymol source and distribution files
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="" %}
<body>
{% include common-section.html %}
	<div class="content"> 		
	  <h2>download</h2>
	  <h3>current version</h3>
	  <p>You can add the latest minified Thymol bootstrap to your page using:<br/>&nbsp;&nbsp;&nbsp;&nbsp;src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js".</p>
	  <p>You can download the source for the current version of Thymol from <a href="https://github.com/thymol/thymol.js/archive/master.zip">github.</a></p>
	  <h3>download distribution</h3>
	  <p>You can download the current Thymol distribution file from <a href="http://sourceforge.net/projects/thymol/">sourceforge.</a></p>
	  <h3>archive versions</h3>
	  <p>You can download older versions of Thymol from <a href="http://sourceforge.net/u/jjbenson/wiki/thymol/">sourceforge.</a></p>
	  <h3>(this) web site</h3>
	  <p>You can download the source for the current version of this web site from <a href="https://github.com/thymol/thymol.github.io/archive/master.zip">github.</a></p>
	</div>
</body>
</html>