<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                <link rel="stylesheet" href="css/base.css">
                <title>thymoljs.org features page</title>
	</head>
	<script th:remove="all" type="text/javascript" src="bower_components/thymol/dist/thymol.min.js" data-thymol-load="js/clickthing.js"></script>
	<body>
		<div th:replace="fragments::frame"></div>
		<div class="content">
			<h2>features</h2>
	
			<p>Thymol 2.0 is a javascript emulation of Thymeleaf 2.1.</p>
			<p>Thymol 2.0 simulates the Thymeleaf 2.1 templating system front
				end and allows you to prototype Thymeleaf developments in a
				&quot;stand alone&quot; environment.</p>
	
			<p>
				Users familiar with previous versions of Thymol (available on <a
					href="http://sourceforge.net/u/jjbenson/wiki/thymol/">sourceforge</a>)
				may recall that the pre-2.0 versions were limited to a subset of
				Thymeleaf 2.1 standard dialect. Thymol 2.0 fills in the gaps!
			</p>
	
			<h3>what&#39;s new in 2.0.0</h3>
			<ul>
				<li>Support for all Thymeleaf 2.1 &quot;Expression basic
					objects&quot;.</li>
				<li>Support for all Thymeleaf 2.1 &quot;Expression utility
					objects&quot;.</li>
				<li>Support for expression pre-processing.</li>
				<li>Supports user extensions:
					<ul>
						<li>Custom attributes &amp; custom elements - implement your own
							dialects!</li>
						<li>Custom utility objects - functional prototyping.</li>
					</ul>
				</li>
				<li>New <code>&lt;script&gt;</code> definition "thymol.js" is now a bootstrap loader.</li>
				<li>New configuration mechanism - edit "thymol.js" to set defaults.</li>
				<li>Many bug fixes - many thanks to all Thymol users!</li>
				<li>Improved execution speed.</li>
				<li>Minimised version available.</li>
				<li>Registered with bower. You can now type "bower install thymol" to add thymol your project.</li>

			</ul>

			<h3>new examples</h3>
			<p>You can see these examples in action in the <a href="examples.html">"examples"</a> section of this site.</p>

	</div>
		<div th:replace="fragments::footer"></div>
	</body>
</html>