---
title: Thymol Features
description: Describes main features of Thymol Thymeleaf emulation system
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="" %}
<body>
{% include common-section.html %}
	<div class="content">
	  <h2>features</h2>

	  <p>Thymol 2.0 is a JavaScript emulation of Thymeleaf 2.1.</p>
	  <p>Thymol 2.0 simulates the Thymeleaf 2.1 templating system allowing you to prototype Thymeleaf developments in a &quot;stand alone&quot; environment.</p>

	  <p>
	    Users familiar with previous versions of Thymol (available on <a href="http://sourceforge.net/u/jjbenson/wiki/thymol/">sourceforge</a>) may recall that the pre-2.0 versions were limited to a subset of Thymeleaf 2.1 standard dialect. Thymol 2.0 fills in the gaps!
	  </p>

	  <h3>what&#39;s new in 2.0.0</h3>
	  <ul>
	    <li>Support for all Thymeleaf 2.1 &quot;Expression basic objects&quot;.</li>
	    <li>Support for all Thymeleaf 2.1 &quot;Expression utility objects&quot;.</li>
	    <li>Support for expression pre-processing.</li>
	    <li>Support for Thymeleaf-style message properties files.
	    <li>Support for locale specific message processing.</li>
	    <li>Supports user extensions:
	      <ul>
		<li>Custom attributes &amp; custom elements - implement your own dialects!</li>
		<li>Custom utility objects - functional prototyping.</li>
	      </ul>
	    </li>
	    <li>New <code>&lt;script&gt;</code> definition "thymol.js" is now a bootstrap loader.
	    </li>
	    <li>New configuration mechanism - edit "thymol.js" to set defaults.</li>
	    <li>Many bug fixes - many thanks to all Thymol users!</li>
	    <li>Improved execution speed.</li>
	    <li>Minimised version available.</li>
	    <li>Registered with bower. You can now type "bower install thymol" to add thymol to your project.</li>
	    <li>Now available via the excellent jsdelivr CDN!<br/>&nbsp;&nbsp;&nbsp;&nbsp;Use: src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js" for the latest minified version.</li>

	  </ul>

	  <h3>new examples</h3>
	  <p>
	    You can see these examples in action in the <a href="examples.html" th:href="'examples.html?exam'">"examples"</a> section of this site.
	  </p>

	</div>
</body>
</html>