---
title: Thymol Home
description: Home page for Thymol Thymeleaf emulation system
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="" %}
<body>
{% include common-section.html %}
	<div class="content"> 		
		<h2>home</h2>
		<h3>what is thymol?</h3>
		<p>Thymol is a client-side JavaScript implementation of the popular server-side Thymeleaf Java template engine.</p> 
		<p>Thymol 2.0 provides the facility to prototype Thymeleaf 2.1 template based designs without having to run a web application server.</p>
		<p>You don't need to be running tomcat or jetty or any other servlet engine, you can do everything on your local file system or network file server or use a plain old web server (like Apache) if you wish.</p>
           <p><i>(Incidentally this site is built using Thymol. To find out how go <a href="https://github.com/thymol/thymol.github.io">here</a>.)</i></p>		
		<h3>how is it licensed?</h3>
		<p>Thymol is Open Source Software and is distributed under the terms of the Apache License 2.0.</p>		
		<h3>why write it?</h3>
		<p>Thymol was originally created in order to provide a more accurate static representation of Thymeleaf's dynamic templating capabilities by offering support for Thymeleaf attributes through a statically accessible JavaScript library.</p>
		<p>Subsequently Thymol has evolved into a highly capable prototyping system for Thymeleaf based designs.</p>
		<p>To read more about why Thymol was started see the <a href="static-imports.html">static imports</a> page.</p>
		<h3>how does it work?</h3>
		<p>At the basic level it can be very simple: you add a single script tag to your Thymeleaf template and load that template directly into your browser.</p>
		<h3>what about the name?</h3>
		<p>Thymol is the informal name of the organic molecule 2-isopropyl-5-methylphenol, this chemical provides most of the flavour of the thyme leaf.</p>
	</div>
	<div th:replace="fragments::footer"></div>
</body>
</html>
