---
title: thymoljs.org documentation &#58; thymol news page
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="" %}
<body>
	<div th:replace="fragments::frame"></div>
	<div class="content"> 		
	  <h2>news</h2>
	  <p>You can keep up to date with developments in Thymol using the <a href="http://forum.thymoljs.org/Thymol-News-and-Announcements-f2.html">News and Announcements Forum</a>.</p>
	  <p>Another good way a getting Thymol related news is by visiting <a href="http://twitter.com/thymoljs">the thymoljs twitter site</a>.</p>
	</div>
	<div th:replace="fragments::footer"></div>
</body>
</html>