<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="{{ include.level }}css/base.css">
<title>{{ page.title }}</title>
</head>
<script th:remove="all" type="text/javascript" src="{{ include.level }}bower_components/thymol/dist/thymol.min.js" data-thymol-load="{{ include.level }}js/clickthing.js"></script>
<noscript>
  <div class="margin">
    <div><a href="{{ include.level }}index.html" target="_top">home</a></div>
    <div><a href="{{ include.level }}features.html" target="_top">features</a></div>
    <div><a href="{{ include.level }}download.html" target="_top">download</a></div>
    <div><a href="{{ include.level }}documentation.html" target="_top">documentation</a></div>
    <div id="margin2">
      <div><a href="{{ include.level }}documents/thymol-files.html" target="_top">thymol files</a></div>
      <div><a href="{{ include.level }}documents/configuration.html" target="_top">configuration</a></div>
      <div><a href="{{ include.level }}documents/messages.html" target="_top">message resources</a></div>
      <div><a href="{{ include.level }}documents/control-parameters.html" target="_top">control parameters</a></div>
      <div id="margin3">
        <div><a href="{{ include.level }}documents/control/thDebug.html" target="_top">thDebug</a></div>
        <div><a href="{{ include.level }}documents/control/thProtocol.html" target="_top">thProtocol</a></div>
        <div><a href="{{ include.level }}documents/control/thRoot-and-thPath.html" target="_top">thRoot &amp; thPath</a></div>
        <div><a href="{{ include.level }}documents/control/thMessagePath.html" target="_top">thMessagePath</a></div>
        <div><a href="{{ include.level }}documents/control/thAllowNullText.html" target="_top">thAllowNullText</a></div>
        <div><a href="{{ include.level }}documents/control/thMappings.html" target="_top">thMappings</a></div>
        <div><a href="{{ include.level }}documents/control/thVars.html" target="_top">thVars</a></div>
        <div><a href="{{ include.level }}documents/control/thMessages.html" target="_top">thMessages</a></div>
        <div><a href="{{ include.level }}documents/control/thDisable.html" target="_top">thDisable</a></div>
      </div>
      <div><a href="{{ include.level }}documents/browser-constraints.html" target="_top">browser constraints</a></div>
      <div><a href="{{ include.level }}documents/expression-objects.html" target="_top">expression objects</a></div>
      <div><a href="{{ include.level }}documents/thymol-types.html" target="_top">thymol types</a></div>
      <div><a href="{{ include.level }}documents/thymol-api.html" target="_top">thymol API</a></div>
      <div id="margin3">
        <div><a href="{{ include.level }}documents/apis/properties.html" target="_top">properties</a></div>
        <div><a href="{{ include.level }}documents/apis/functions.html" target="_top">functions</a></div>
        <div><a href="{{ include.level }}documents/apis/execution-order.html" target="_top">execution order</a></div>
      </div>
      <div><a href="{{ include.level }}documents/thymol-extensions.html" target="_top">thymol extensions</a></div>
      <div id="margin3">
        <div><a href="{{ include.level }}documents/extensions/attributes.html" target="_top">attributes</a></div>
        <div><a href="{{ include.level }}documents/extensions/elements.html" target="_top">elements</a></div>
        <div><a href="{{ include.level }}documents/extensions/expression-objects.html" target="_top">expression objects</a></div>
        <div><a href="{{ include.level }}documents/extensions/dialects.html" target="_top">dialects</a></div>
    </div>
    </div>
    <div><a href="{{ include.level }}examples.html" target="_top">examples</a></div>
    <div id="margin2">
      <div><a href="{{ include.level }}examples/templates/thymol/2.0/sessions/session-page-01.html" target="_top">sessions</a></div>
      <div><a href="{{ include.level }}examples/templates/thymol/2.0/say-hello/sayhello.html" target="_top">say-hello</a></div>
      <div><a href="{{ include.level }}examples/templates/v21/stsm/stsm3.html" target="_top">stsm example</a></div>
      <div><a href="{{ include.level }}examples/templates/v21/ecosystem/with-dialect/with-example1.html" target="_top">with-dialect</a></div>
      <div><a href="{{ include.level }}examples/templates/v21/extrathyme/webapp/WEB-INF/templates/extrathyme.html" target="_top">extrathyme</a></div>
    </div>
    <div><a href="{{ include.level }}news.html" target="_top">news</a></div>
    <div><a href="{{ include.level }}credits.html" target="_top">credits</a></div>
    <div><a href="{{ include.level }}index.html" target="_top">user forum</a></div>
    <div><a href="{{ include.level }}issues.html" target="_top">issues</a></div>
    <div id="margin2">
      <div><a href="{{ include.level }}issues/known-issues.html" target="_top">known issues</a></div>
      <div><a href="https://github.com/thymol/thymol.js/issues" target="_top">create new issue</a></div>
    </div>
    <div><a href="http://www.thymeleaf.org" target="_top">thymeleaf</a></div>
  </div>
  <h1>
    thymol<span style="color: #dc0808;">js</span>
  </h1>
</noscript>