---
title: Thymol Extension Dialects
description: Used to define custom Thymol dialects
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>dialects</h2>
    <p>Thymol 2.0 extensions may optionally be grouped together into a logical set sharing the same xml namespace prefix. You do this by invoking the thymol.addDialect function.</p>
<p><span style="font-weight: bold;">thymol.addDialect = function(dialectSpec)</span></p>
<p>The single mandatory argument "dialectSpec" names a specification object that should have the following structure:</p>
<pre><code>        {
            prefix : prefixNm,
            attributeProcessors : [ 
                {
                    name : attr1Nm,
                    processor : attr1ProcessorFnNm,
                    precedence : attr1Prec
                },
                {
                    name : attr2Nm,
                    processor : attr2ProcessorFnNm,
                    precedence : attr2Prec
                }, 
                ...
            ],
            elementProcessors : [
                {
                    name : elem1Nm,
                    processor : elem1ProcessorFnNm
                },
                {
                    name : elem2Nm,
                    processor : elem2ProcessorFnNm
                }, 
                ...
            ],
            objects : [
                obj1ExprObj,
                obj2ExprObj,
                {
                    name : obj1Nm,
                    object : obj1ProcessorFnNm
                },
                {
                    name : obj2Nm,
                    object : obj2ProcessorFnNm
                },
                ...
                ...
            ]
        }</code></pre><p>Where:</p>
  <ul>
      <li>Any of the properties prefix, attributeProcessors, elementProcessors or objects may be omitted.</li><br/>
      <li>prefixNm is the (xml namespace) prefix used to identify the dialect components.</li>
      <li>attrNNm specifies the Nth attribute name. This may be a plain string or a regular expression (<a href="attributes.html?docu&exte">see here</a>).</li>
      <li>attrNProcessorFnNm is a reference to the Nth atrribute processor function.</li>
      <li>attrNPrec is the precedence value to assign the Nth attribute (integer low = process early, high = process late, default 20000).</li><br/>
      <li>objNExprObj is a reference to the Nth <a href="expression-objects.html" th:href="'expression-objects.html?docu&amp;exte'">configureModule loadable</a> expression object definition.</li><br/>
      <li>objNNm is the name of the Nth plain JavaScript expression object (should start with a &quot;#&quot; character).</li>
      <li>objNProcessorFnNm is a reference to the Nth plain JavaScript expression object function.</li>
  </ul>
  <p>Members of the attributeProcessors array property are name, function, precedence triples.<p>              
  <p>Members of the elementProcessors array property are name, function pairs.<p>              
  <p>The prefix value is shared by the attributeProcessors and elementProcessors.<p>              
  <p>Members of the objects array property may be either functions as defined on the <a href="expression-objects.html" th:href="'expression-objects.html?docu&amp;exte'">expression objects page</a> or plain JavaScript objects that expose functions to be called as expression object functions. In this case, the object field specifies the expression object function reference and the name field gives the expression object name.<p>              
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>