---
title: thymoljs.org documentation &#58; thymol expression objects page
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
  <div th:replace="../../fragments::frame(docs='true',extn='true',level='../../')"></div>
  <div class="content">
    <h2>expression objects</h2>
    <p>Using Thymol 2.0 you may define custom expression utility objects that are executed in the same way as the standard dialect built-in functions (see <a href="../expression-objects.html">here</a>).</p>
    <p>To do this, you define a javascript function object and configure that function for processing in accordance with the following guidelines.</p>
    <h3>function definition</h3>
    <p>A custom expression utility object needs to be defined as follows:</p>
    <pre><code>        var fn = function() {
        
            var thExpressionObjectName = fnHashStr;
          
            ... // Your custom function implementations and private functions here
                        
            return {
                thExpressionObjectName : thExpressionObjectName,
                ... // Exported name mappings of your custom functions here
            };
        
        }();</code></pre><p>Where &quot;fn&quot; is the name of the custom expression utility object (which should be unique!) and &quot;fnHashStr&quot; is the name that will be used to refer to this expression object (which should also be unique!).</p>
        <p>The value of &quot;fn&quot; can be any valid javascript identifier name.</p>
        <p>The value of &quot;fnHashStr&quot; should equate to a string value and should start with a &quot;#&quot; character.</p>
    <pre><code>        var fieldsObject = function() {

            var thExpressionObjectName = "#fields";

            function hasErrors(target) {
		        return false;
            }

            function errors(target) {
		        return [];
            }
	
            return {
		        thExpressionObjectName : thExpressionObjectName,
		        hasErrors : hasErrors,
		        errors : errors
            };

        }();</code></pre>
    <h3>function configuration</h3>
    <p>To configure this function for processing you can add an entry in a Thymol "dialectSpec" object as described <a href="dialects.html">here</a>.</p>
    <p>Alternatively, you can configure this expression object in isolation using a call to the thymol.configureModule function:</p>        
    <pre><code>            thymol.ready(function() {
              thymol.configurePreExecution(function() {
                ...
                thymol.configureModule(fieldsObject);
                ...
              });
            });</code></pre>                                
        <p>The "#fields" object is taken from the stsm sampler example. You can see it in action <a href="../../examples/templates/v21/stsm/stsm3.html">here</a>.
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>