---
title: Thymol thAllowNullText Control Parameter
description: Controls the generation of error messages when Thymol detects null text content
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thAllowNullText</h2>
    <p>While developing Thymeleaf templates, it&#39;s quite easy to unintentionally define expressions that can&#39;t be resolved or that resolve to null and when developing with Thymol, it can sometimes be difficult to identify where such problems are occurring.</p>
    <p>In the event that Thymol encounters a &quot;th:text&quot; attribute that resolves to null, by default Thymol will proceed regardless. However, if you set the value of the &quot;thAllowNullText&quot; flag to false, Thymol will raise a window alert whenever this happens.</p>
  </div>
</body>
</html>