---
title: Thymol thDefaultPrecedence Control Parameter
description: Defines the default precedence for custom Thymol attributes
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thDefaultPrecedence</h2>
    <p>The thDefaultPrecedence parameter sets the precedence values given to new created custom Thymol attributes if this value is not set by other means.</p>
    <p>The default value for this parameter is &quot;20000&quot; (<a href="../configuration.html?docu">see</a>).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>