---
title: Thymol thDefaultPrecision Control Parameter
description: Defines the default numeric precision to be used in Thymol calculations
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thDefaultPrecision</h2>
    <p>The thPrefix parameter defines the default numeric precision to be used in Thymol calculations.</p>
    <p>The default value for this parameter is 10 (<a href="../configuration.html?docu">see</a>).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>