---
title: Thymol thDebug Control Parameter
description: Controls the generation of alert dialogs when Thymol detects error conditions
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thDebug</h2>
    <p>Thymol includes a very basic debugging facility, setting the value of the thDebug control parameter to "true" puts Thymol into debug mode.</p>
    <p>When running in debug mode, Thymol will open an alert window each time a processing error occurs.</p>
    <p>For example, debug mode, an alert window is opened when a parsing error or an unrecognisable conditional expression is encountered or whenever an include or replace template cannot be opened.
    <p>You can define thDebug inside your template (before the Thymol script tag):</p>
    <pre><code>        &lt;script th:remove=&quot;all&quot; type=&quot;text/javascript&quot;&gt;
            var thDebug = true;
        &lt;/script&gt;</code></pre><p>or define thDebug when Thymol is loaded:</p>
    <pre><code>        &lt;script type=&quot;text/javascript&quot; src=&quot;../../../js/thymol.js&quot; data-thymol-parameters=&quot;?thProtocol=http://&amp;thDebug=true&quot;&gt;&lt;/script&gt;</code></pre><p>or define thDebug when the template is loaded:</p>        
    <pre><code>        &lt;a href=&quot;jjb/project/big-example/page5.html?firstName=Fred&amp;surName=Bloggs&amp;thDebug=true&quot;&gt;link&lt;/a&gt;</code></pre>
    <p>In the case where a value for thDebug is defined by both a javascript variable and a request parameter, the value supplied as a request parameter will take precedence.</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>