---
title: Thymol thDisableMessages Control Parameter
description: Controls search for message bundles in template local directory 
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thDisableMessages</h2>
    <p>The thDisableMessages parameter is a flag that indicates that Thymol should make no attempt to substitute message properties or resolve message expressions. If disabled, in cases where there may be a conditional substitution of element text (e.g. th:text/th:utext), the substitution will not be performed.</p>
    <p>Message processing is turned off if the flag is set to "true".</p> 
  </div>
</body>
</html>