---
title: Thymol thDisable Control Parameter
description: Selectively turns off processing of Thymol attributes
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">

<h2 >thDisable</h2>
<p>Can be used to &quot;turn off&quot; (disable) Thymol processing of any particular Thymeleaf attribute. This can be very useful when debugging.</p>
<p>thDisable specifies an array of Thymeleaf attribute names that are to be disabled at run-time.</p>
<p>For example, if you don&#39;t want to process th:remove attributes define the following:</p>
<pre><code>       var thDisable = [ &quot;remove&quot; ];
</code></pre><p>Or if you wish to turn off template inclusion/substitution/replacement define the following:</p>
<pre><code>       var thDisable = [ &quot;include&quot;, &quot;substituteby&quot;, &quot;replace&quot; ];    
</code></pre>

  </div>
</body>
</html>