---
title: Thymol thExtendedMapping Control Parameter
description: Controls the use of extended mappings in Thymol
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thExtendedMapping</h2>
    <p>The thExtendedMapping controls the use of extended mapping in Thymol URI processing.</p>
    <p>Extended mapping is the process by which the test for a match between a mapping key value and an URI is found true if the initial substring of the URI matches the key.</p>
    <p>The default value for this parameter is &quot;false&quot;. The default value is used if it isn't overridden by setting thExtendedMapping (see <a href="../configuration.html?docu">configuration</a> section).
    <p>(See also <a href="thMappings.html?docu&amp;para"> thMappings</a>).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>