---
title: Thymol thLocale Control Parameter
description: Defines the locale to use in Thymol processing
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thLocale</h2>
    <p>The thLocale parameter sets the locale to be used during Thymol processing.</p>
    <p>If thLocale is not set, the locale value that is used is derived from the browser's &quot;navigator.language&quot; variable.</p>
    <p>If the locale is still undefined, then the default value for this parameter is used. The usual default is &quot;en&quot;.</p>
    <p>The default value may be set to a different value using the thDefaultLocale variable (see <a href="../configuration.html?docu">configuration</a> section).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>