---
title: Thymol thMappings Control Parameter
description: Defines location of externalised Thymol message content
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thMessagesBaseName</h2>
    <p>Thymol uses the thMessagesBaseName value to set-up potential names for messages properties files and uses those potential values as the initial targets of the searching process.</p>
    <p>The default value for thMessagesBaseName is "Messages", so that by default, the search attempts to find files named "Messages.properties" or "Messages(suffix).properties" in the directory specified by thMessagePath.</p>
    <p>See <a href="thMessagePath.html?docu&amp;para">here</a>.
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>