<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="../../css/base.css">
<title>thymoljs.org documentation : thMessagePath page</title>
</head>
<script th:remove="all" type="text/javascript" src="../../bower_components/thymol/dist/thymol.min.js" data-thymol-load="../../js/clickthing.js"></script>
<body>
  <div th:replace="../../fragments::frame(docs='true',ctrl='true',level='../../')"></div>
  <div class="content">
    <h2>thMessagePath</h2>
    <p>Thymol uses the thMessagePath to determine the location of properties files containing the default externalised messages for a template. These are files named "Messages.properties" or "Messages(suffix).properties" where (suffix) represents an optional locale specification in the form "_ll_CC-vv". Here, "ll" is a specifier for language, "CC" an optional country and "vv" an optional variant.</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>