<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="../../css/base.css">
<title>thymoljs.org documentation : control : thProtocol page</title>
</head>
<script th:remove="all" type="text/javascript" src="../../bower_components/thymol/dist/thymol.min.js" data-thymol-load="../../js/clickthing.js"></script>
<body>
  <div th:replace="../../fragments::frame(docs='true',ctrl='true',level='../../')"></div>
  <div class="content">
    <h2>thProtocol</h2>
    <p>The thProtocol parameter sets the default protocol to apply to generated URIs.</p>
    <p>The default value for this parameter is &quot;file:///&quot; which is a good choice for file-systems based developments.</p>
    <p>Using &quot;http://&quot; may be appropriate for Thymol-enabled Thymeleaf templates that are loaded from a non-local web server.</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>