---
title: thymoljs.org documentation &#58; thProtocol page
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
  <div th:replace="../../fragments::frame(docs='true',ctrl='true',level='../../')"></div>
  <div class="content">
    <h2>thProtocol</h2>
    <p>The thProtocol parameter sets the default protocol to apply to generated URIs.</p>
    <p>The default value for this parameter is &quot;file:///&quot; which is a good choice for file-system based developments.</p>
    <p>Using &quot;http://&quot; may be appropriate for Thymol-enabled Thymeleaf templates that are loaded from a web server.</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>