---
title: Thymol thPrefix Control Parameter
description: Defines the Thymol attributes xmlns prefix
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thPrefix</h2>
    <p>The thPrefix parameter sets the prefix used to identify attributes for processing by Thymol.</p>
    <p>The default value for this parameter is &quot;th&quot;. The default value is used if not overridden.</p>
    <p>You can override the default value by setting thPrefix directly using any of the usual mechanisms, by re-assigning in JavaScript, using a script parameter etc.</p> 
    <p>If you're using XHTML, you can also set the value indirectly by defining a prefix for the "http://www.thymeleaf.org" xml namespace in the document html element. Like this:<p>
    <pre><code>      &lt;html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"&gt;
      ...
      &lt;/html&gt;</code></pre>
    <p>You can also use the Thymol specific namespace "http://www.thymoljs.org". This namespace will not be recognised by Thymeleaf, and attributes with a prefix in this namespace will be ignored by Thymeleaf. You can use this fact if you wish to use Thymol in combination with Thymeleaf.</p>  
    <pre><code>      &lt;html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tl="http://www.thymoljs.org"&gt;
      ...
      &lt;/html&gt;</code></pre>
    <p>In this scenario, template element attributes having the prefix "th" can be processed by Thymeleaf (as normal), and those with the prefix "tl" can be post-processed by Thymol in the browser.</p> 
    <p>The default value may be set to a different value using the thDefaultPrefix variable (see <a href="../configuration.html?docu">configuration</a> section).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>