---
title: Thymol thTemplateSuffix Control Parameter
description: Defines the default Thymol template file for a URI structure
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thTemplateSuffix</h2>
    <p>The thTemplateSuffix parameter sets the file extension value that is used by Thymol when searching for templates.</p>
    <p>The default value for this parameter is ".html", you may change this by setting the value of thDefaultTemplateSuffix (see <a href="../configuration.html?docu">configuration</a> section).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>