---
title: Thymol thUseAbsolutePath Control Parameter
description: Controls the use of absolute addressing
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
{% include header-section.html level="../../" %}
<body>
{% include common-section.html level="../../" %}
  <div class="content">
    <h2>thUseAbsolutePath</h2>
    <p>Controls whether or not absolute addressing should be used for all template and message resolutions.</p>
    <p>The default value for this parameter is "false".</p>
    <p>(See also <a href="thAbsolutePath.html?docu&amp;para">thAbsolutePath</a> section).</p>
  </div>
  <div th:replace="../../fragments::footer"></div>
</body>
</html>